.page-main__main-title,
.page-main__text {
  margin: 0;
  padding: 0;
  width: 270px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.page-main__main-title {
  font-size: @font-size__title;
  font-weight: bold;
  line-height: 26px;
  margin-bottom: 27px;
}

.page-main__text {
  position: relative;
  font-size: @font-size__paragraph;
  font-weight: normal;
  line-height: 26px;
  margin-bottom: 22px;
  color: @font-color__paragraph;
}

.page-main__text--arrow-after::after {
  content: "";
  position: absolute;
  bottom: -42px;
  left: 50%;
  margin-left: -160px;
  width: 320px;
  height: 37px;
  background-image: url("../img/bg-triangle.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.page-main__after-arrow {
  padding-top: 21px;
  margin-bottom: 34px;
}

.page-main__reasons-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: @bg__gray;
  margin-bottom: 27px;
}

.page-main__reason {
  padding-top: 27px;
  padding-right: 15px;
  padding-bottom: 27px;
  padding-left: 15px;
  box-shadow: inset 0 1px 0 0 rgba(1, 1, 1, 0.1);
}

.page-main__reason:first-child {
  box-shadow: none;
}

.page-main__features {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 37px;
}

.page-main__features-list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 30px;
  margin-bottom: 2px;
}

.page-main__features-item {
  margin-bottom: 27px;
}

.page-main__features-item:last-child {
  margin-bottom: 0;
}

.page-main__find-hotel {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 49px;
}

.page-main__map {
  width: 100%;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.inner-page .page-main__main-title {
  margin-bottom: 26px;
}

.inner-page .page-main__text {
  width: 278px;
  line-height: 24px;
  margin-bottom: 26px;
}

.page-main__cards {
  margin-bottom: 32px;
}

.page-main__video {
  margin-bottom: 49px;
}

.page-main__messages-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -7px;
  margin-bottom: 47px;
}

.page-main__messages-form-item {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 17px;
  margin-bottom: 27px;
}

.page-main__messages-button {
  width: 280px;
  margin-top: 21px;
}

.page-main__messages-notice {
  display: none;
}

@media (min-width: @tablet-width) {
  .page-main__main-title,
  .page-main__text {
    width: 500px;
  }

  .page-main__main-title {
    font-size: @font-size__title--big;
    // margin-bottom: 28px;
  }

  .page-main__text {
    margin-bottom: 51px;
  }

  .page-main__text--arrow-after::after {
    display: none;
  }

  .page-main__after-arrow {
    padding-top: 0;
    margin-bottom: 57px;
  }

  .page-main__reasons-list {
    flex-direction: row;
    justify-content: center;
    margin-bottom: 56px;
  }

  .page-main__reason {
    padding-right: 45px;
    padding-top: 45px;
    padding-left: 45px;
    padding-bottom: 10px;
    min-height: 201px;
    box-shadow: none;
  }

  .page-main__reason:nth-child(2) .reason__paragraph {
    width: 135px;
    margin: auto;
  }

  .page-main__features {
    margin-bottom: 51px;
  }

  .page-main__features-list {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
  }

  .page-main__features-item {
    padding-top: 0;
    padding-right: 45px;
    padding-left: 45px;
    padding-bottom: 10px;
    margin-bottom: 0;
  }

  .page-main__features-item:last-child {
    margin-bottom: 0;
  }

  .page-main__find-hotel {
    width: 458px;
    margin-bottom: 58px;
  }

  .page-main__map {
    margin-bottom: 0;
  }

  .inner-page .page-main__main-title {
    font-size: @font-size__title--biggest;
    width: 440px;
    margin-bottom: 32px;
  }

  .inner-page .page-main__text {
    width: 442px;
    margin-bottom: 68px;
  }

  .page-main__cards {
    margin-bottom: 66px;
  }

  .page-main__video {
    margin-bottom: 40px;
  }

  .page-main__messages-form {
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
    width: 648px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    margin-top: 0;
    padding-top: 5px;
    margin-bottom: 61px;
  }

  .page-main__messages-form-item {
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
    margin-bottom: 51px;
  }

  .page-main__messages-form-item:nth-child(3) {
    order: -1;
  }

  .page-main__messages-form-item:nth-child(3)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 323px;
    width: 1px;
    height: 100%;
    background-color: @bg__gray--darker;
  }

  .page-main__messages-button {
    width: 324px;
    margin-top: 7px;
  }

  .page-main__messages-notice {
    display: inline-block;
    padding-top: 28px;
  }
}

@media (min-width: @desktop-width) {
  .page-main__reason {
    padding-right: 57px;
    padding-left: 57px;
  }

  .page-main__reason:nth-child(2) .reason__paragraph {
    width: 266px;
  }

  .page-main__features {
    margin-bottom: 73px;
  }

  .page-main__features-item {
    padding-right: 57px;
    padding-left: 57px;
    padding-bottom: 10px;
  }

  .page-main__find-hotel {
    margin-bottom: 66px;
  }

  .inner-page .page-main__main-title {
    margin-bottom: 30px;
  }

  .inner-page .page-main__text {
    margin-bottom: 71px;
  }

  .page-main__cards {
    margin-bottom: 71px;
  }

  .page-main__video {
    margin-bottom: 85px;
  }

  .page-main__messages-form {
    width: 960px;
    margin-top: -11px;
    padding-top: 0;
    margin-bottom: 66px;
  }

  .page-main__messages-form-item {
    margin-bottom: 50px;
  }

  .page-main__messages-form-item:nth-child(3)::before {
    left: 480px;
  }

  .page-main__messages-button {
    width: 480px;
  }
}
