.page-main__main-title,
.page-main__text {
  margin: 0;
  padding: 0;
  width: 278px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.page-main__main-title {
  font-size: @font-size__title;
  font-weight: bold;
  line-height: 26px;
  margin-bottom: 27px;
}

.page-main__text {
  position: relative;
  font-size: @font-size__paragraph;
  font-weight: normal;
  line-height: 26px;
  margin-bottom: 22px;
  color: @font-color__paragraph;
}

.inner-page .page-main__text {
  line-height: 24px;
  margin-bottom: 28px;
}

.page-main__text--after-arrow::after {
  content: "";
  position: absolute;
  bottom: -42px;
  left: 50%;
  margin-left: -160px;
  width: 320px;
  height: 37px;
  background-image: url("../img/bg-triangle.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.page-main__reason-with-picture--first-reason {
  padding-top: 21px;
  margin-bottom: 34px;
}

.page-main__reasons-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: @bg__gray;
  margin-bottom: 27px;
}

.page-main__reason {
  padding-top: 27px;
  padding-right: 15px;
  padding-bottom: 27px;
  padding-left: 15px;
  box-shadow: inset 0 1px 0 0 rgba(1, 1, 1, 0.1);
}

.page-main__reason:first-child {
  box-shadow: none;
}

.page-main__features {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 37px;
}

.page-main__features-list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 30px;
  margin-bottom: 2px;
}

.page-main__features-item {
  margin-bottom: 27px;
}

.page-main__features-item:last-child {
  margin-bottom: 0;
}

.page-main__map {
  // Временно для сетки
  height: 611px;
  background: linear-gradient(rgba(255, 0, 0, 0.3) 1px, rgba(255, 0, 0, 0.15) 1px, rgba(255, 0, 0, 0.15) calc(100% - 1px), rgba(255, 0, 0, 0.3) calc(100% - 1px));
}

.page-main__cards {
  margin-bottom: 73px;
}

.page-main__video {
  // Временно для сетки
  height: 427px;
  background: linear-gradient(rgba(255, 0, 0, 0.3) 1px, rgba(255, 0, 0, 0.15) 1px, rgba(255, 0, 0, 0.15) calc(100% - 1px), rgba(255, 0, 0, 0.3) calc(100% - 1px));
}

.page-main__form {
  // Временно для сетки
  height: 1650px;
  background: linear-gradient(rgba(255, 0, 0, 0.3) 1px, rgba(255, 0, 0, 0.15) 1px, rgba(255, 0, 0, 0.15) calc(100% - 1px), rgba(255, 0, 0, 0.3) calc(100% - 1px));
}

@media (min-width: @tablet-width) {
  .page-main__main-title,
  .page-main__text {
    width: 500px;
  }

  .page-main__main-title {
    font-size: @font-size__title--big;
    // margin-bottom: 28px;
  }

  .page-main__text {
    margin-bottom: 51px;
  }

  .page-main__text--after-arrow::after {
    display: none;
  }

  .page-main__reason-with-picture--first-reason {
    padding-top: 0;
    margin-bottom: 57px;
  }

  .page-main__reasons-list {
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
  }

  .page-main__reason {
    padding-right: 45px;
    padding-top: 45px;
    padding-left: 45px;
    padding-bottom: 10px;
    min-height: 201px;
    box-shadow: none;
  }

  .page-main__reason:nth-child(2) .reason__paragraph {
    width: 135px;
    margin: auto;
  }

  .page-main__features {
    margin-bottom: 51px;
  }

  .page-main__features-list {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
  }

  .page-main__features-item {
    padding-top: 0;
    padding-right: 45px;
    padding-left: 45px;
    padding-bottom: 10px;
    margin-bottom: 0;
  }

  .page-main__features-item:last-child {
    margin-bottom: 0;
  }

  .page-main__map {
    // Временно для сетки
    height: 618px;
  }

  .inner-page .page-main__main-title {
    font-size: @font-size__title--biggest;
    width: 440px;
    // margin-bottom: 28px;
  }

  .inner-page .page-main__text {
    width: 440px;
    margin-bottom: 70px;
  }

  .page-main__cards {
    margin-bottom: 60px;
  }

  .page-main__video {
    // Временно для сетки
    height: 684px;
    margin-bottom: 40px;
  }
}

@media (min-width: @desktop-width) {
  .page-main__main-title {
    // margin-bottom: 28px;
  }

  .page-main__text {
    // margin-bottom: 50px;
  }

  .page-main__reason-with-picture--first-reason {
    // margin-bottom: 57px;
  }

  .page-main__reasons-list {
    // margin-bottom: 50px;
  }

  .page-main__reason {
    padding-right: 57px;
    // padding-top: 43px;
    padding-left: 57px;
    // padding-bottom: 10px;
    // min-height: 203px;
  }

  .page-main__reason:nth-child(2) .reason__paragraph {
    width: 266px;
  }

  .page-main__features {
    margin-bottom: 73px;
  }

  .page-main__features-item {
    padding-right: 57px;
    padding-left: 57px;
    padding-bottom: 10px;
  }

  .page-main__map {
    // Временно для сетки
    height: 631px;
  }

  .page-main__cards {
    margin-bottom: 64px;
  }

  .page-main__video {
    // Временно для сетки
    height: 682px;
    margin-bottom: 85px;
  }
}
