.reason {
  width: 250px;
}

.reason--white {
  color: #ffffff;
  background-color: @bg__water-blue;
  width: 264px;
}

.reason__title {
  margin: 0;
  padding: 0;
  margin-bottom: 9px;

  text-align: center;
  font-size: @font-size__title;
  line-height: 26px;
  font-weight: bold;
}

.reason__number,
.reason__paragraph {
  margin: 0;
  padding: 0;

  display: block;
  text-align: center;
  font-size: @font-size__paragraph;
  line-height: 21px;
  color: @font-color__paragraph;
}

.reason__number {
  margin-bottom: 15px;
}

.reason--white .reason__number,
.reason--white .reason__paragraph {
  color: #ffffff;
}

@media (min-width: @tablet-width) {
  .reason {
    width: 166px;
  }

  .reason__title {
    font-size: @font-size__title--big;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
  }
}
