.reason-with-picture {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: @bg__water-blue;
}

.reason-with-picture__reason {
  padding-top: 38px;
  padding-bottom: 38px;
}

.reason-with-picture__image {
  background-color: @bg__water-blue;
}
