.video-controls {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.video-controls__time-bar {
  padding-right: 23px;
  padding-left: 22px;
  width: 100%;
}

.video-controls__button {
  background: transparent;
  border: 0;
  fill: #5c6870;
}

.video-controls__button:hover {
  fill: @font-color__paragraph;
}

.video-controls__button:active {
  opacity: 0.3;
}

.video-controls__button--replay {
  margin-left: 19px;
  margin-right: auto;
}

.video-controls__button--subtitles {
  margin-right: 19px;
  margin-bottom: -2px;
}

.video-controls__button--fullscreen {
  margin-right: 17px;
  margin-bottom: -2px;
}
